@charset "utf-8";
/* ************************************ */

/* css = 0 */
*
{padding:0; margin:0;}

/*MM*/* body {background: #444; color: #ccc; transition-duration: 2s;
}

body:hover
{
background: #222;
}

/*content*/
.main
{
	max-width: 90%;
	min-width: 400px;
	margin: 15px auto; /* центрирование блока main */
	/*background: #f00;*/
	/*overflow: hidden;*/

	/*tuning*/ /*padding: 20px;*/ /*effect - OK*/
	/*tuning*/ /*border: 2px solid #f00;*/

	/*MM*/ /*text-align: center;*/
}
.block-wrapper1
{
	float: left;
	width: 35%;
	/*******************/
	position: fixed;
	top: 60%;
	z-index: -1;
	transition: top 0.5s ease-out 0.5s;
	background: #222;
	border: 0px solid #ccc;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	font-size: 14px;
	/*******************/

	/*tuning*/ /*border: 1px solid #f00;*/ /*overflow: hidden;*/
}

#link-up
{
	text-decoration: none;
	color: #fff;
	float: right;
	background: #444;
	text-align: left;
	margin: 7px;
	padding: 3px;
	box-shadow: 3px;
	transition: 2s;
}

.block-wrapper2
{
	float: right;
	width: 60%;
	text-align: center;
	/*tuning*/ /*border: 1px solid #f00;*/ /*overflow: hidden;*/
}
.block
{
	background: #222;
	border: 0px solid #ccc;
	margin: 8px;
	padding: 3px;
	font-family: verdana;
	font-size: 14px;
}

/*MM code block*/
#banner
{
	max-width: 100%;
	text-align: center;
	transition: 1s ease-out 0.5s;
}

#banner:hover::after
{
	content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 33%; top: 52%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    /*background: rgba(255,255,230,0.9);*/ /* Полупрозрачный цвет фона */
    background: #222;
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 18px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    color: #ccc;
}
#banner-logo
{
	margin: 2px 2px 2px 2px;
	max-width: 71%;
	transition-duration: 0.5s;
	z-index: -2;
}
#banner-logo:hover
{
	margin: 0px;
	max-width: 92%;
	text-decoration: none;/*for no border after transition */
	z-index: 1;
}


/* for left part */
#title
{
	font-size: 26px;
	text-align: center;
}


.block-fixed
{
	position: fixed;
	top: 53%;
	z-index: 1;
	transition: top 1s ease-out 0.5s;
	background: #222;
	border: 0px solid #ccc;
	margin: 20px;
	padding: 10px;
	font-family: verdana;
	font-size: 14px;
}


/* candidate present */
#photo
{
	width: 50%;
	text-align: center;
	transition-duration: 2s;
}
#photo:hover
{
	width: 90%;
	text-align: center;
}
#photo1
{
	width: 55%;
	text-align: center;/* Here centering does not work - look rule [.block-wrapper2] */
	transition-duration: 1s;
}
#photo1:hover
{
	width: 90%;
	text-align: center;
}
/************************************/